.footer {
    background-color: #8a2be2;
    color: #fff;
    padding: 40px 10px;
}

.footer-social {
    display: flex;
    flex-direction: column;
    gap: 15px;

}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
}

.footer a {
    color: #fff;

}

.social-logo {
    display: flex;
    align-items: center;
    gap: 25px;
}

.social-logo a {
    transition-duration: 0.5s;
    transition-property: transform;
    transition-timing-function: ease-in-out;

}

.social-logo a:hover {
    transform: scale(1.3);

}


.instagram {
    width: 40px;
    cursor: pointer;
}

.telegram {
    width: 30px;
    cursor: pointer;
}

.youtube {
    width: 40px;
    cursor: pointer;
}

.footer a:hover {
    color: black;

}

.footer li {
    padding: 10px 0;

}

.footer-contact {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer-info p {
    font-size: 42px;
    font-family: "Imperial Script", cursive;
    font-weight: 400;
    font-style: normal;
}

hr {
    margin: 25px 0;
}

.footer-by h3 {
    font-weight: 400;
}

.footer-by {
    display: flex;
    justify-content: space-between;
}


@media (max-width: 992px) {
    .footer-contact h2 {
        font-size: 22px;
    }

    nav {
        display: none;
    }

    .header-wrapper {
        justify-content: space-between;
    }

}

@media (max-width: 762px) {
    .instagram {
        width: 30px;
        cursor: pointer;
    }

    .telegram {
        width: 20px;
        cursor: pointer;
    }

    .youtube {
        width: 30px;
        cursor: pointer;
    }

    .footer-by h3 {
        font-size: 16px;
    }

    .footer-by h4 {
        font-size: 16px;
    }


    .footer-contact h2 {
        padding-top: 15px;
        font-size: 1.1rem;
    }

    .footer-social h2 {
        padding-top: 15px;
        font-size: 1.1rem;
    }
}

@media (max-width: 640px) {
    .footer-by {
        flex-wrap: wrap;
    }
    .footer-by h3 {
        font-size: 14px;
    }

    .footer-by h4 {
        font-size: 14px;
    }


    .footer-contact h2 {
        font-size: 1.1rem;
    }

    .footer-social h2 {
        padding-top: 15px;
        font-size: 1.1rem;
    }
    .footer-wrapper {
        flex-wrap: wrap;
    }

}